@import "~antd/dist/antd.css";

.App {
  text-align: center;
  padding: 20px;
  border: 1px solid #c4c4ca;
  border-radius: 5px;
}

.App .people-picker {
  border: 1px solid #9b9595 !important;
  padding: 10px 0px 5px 5px !important;
}

.App > * {
  padding: 15px;
}

body {
  margin: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #efeff4 !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.person-cls {
  text-align: justify;
}

.rootcls {
  margin: 50px;
}
